*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
body{
    background: rgba(11, 11, 34, 0.9);
    backdrop-filter: blur(875px);
    font-family:'Noto Sans', sans-serif;
}
button{
    cursor: pointer;
    transition: .4s;
    border: none;
}
/*header-start*/

#navbar{
    padding: 20px 0;
    position: sticky;
    z-index: 100;
    top: 0;
    background: rgb(29, 29, 51);

}
.navbar-logo{
    display: flex;
    align-items: center;
}
.navbar-logo ion-icon{
    margin-right: 17px;
    color: white;
    font-size: 25px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav a{
    margin: 0 25px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    transition: .4s;
}
.navbar-nav a:hover{
    border-bottom: 2px solid white;

}
.navbar-logo h1{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}
.navbar button{
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 12px 20px;
}
.navbar button:hover{
    transform: scale(1.1);
    background: blueviolet;
}
/*navbar-end*/

/*hero-start*/
#hero{
    padding: 40px 0;
}
.hero h2{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #16FCD2;
}
.hero h1{
    padding: 20px 0;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}
.hero-line{
    margin: 30px 0;
    width: 1022px;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
}
.hero-block{
    width: 328px;
    height: 474px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}
.hero-desc h2{
    padding-top: 58px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}
.hero-desc p{
    padding-top: 58px;
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}
.hero-desc h1{
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}
.hero-desc{
    display: flex;
    align-items: start;
    justify-content: space-around;
}
.top{
    margin-left: 40px;
    width: 234px;
    height: 1px;
    background: rgba(255, 255, 255, 0.05);
}
.hero-block h3{
    padding-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.hero-block button{
    margin-top: 60px;
    margin-left: 25px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #0B0B22;
    padding: 20px 115px;
    background: #FFFFFF;
    border-radius: 3px;
}
.hero-block button:hover{
    transform: scale(1.1);
    background: #6016FC;
    border-radius: 3px;
}
.hero-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*hero-end*/

/*asked-start*/
#asked{
    padding: 40px 0;
}
.asked{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.asked h2{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #16FCD2;
}
.asked h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

/*asked-end*/

#text{
    padding: 40px 0;
}
#text h2{
    padding: 15px 0;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}
#text h2 span{
    color: #7a56c7;
}
.text{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text-logo h1{
    padding-top: 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    color: #FFFFFF;
}
.text-logo p{
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.6);
}
.text h2{
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;}
span{
    color: #250960;
}

/*time-start*/
#time{
    padding: 40px 0;
}
.time{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.forbes-line{
    width: 90%;
    height: 2px;
    background: #817c7c;
}
.time h1{
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    width: 589px;
    text-align: center;
}
.time-btn button{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding:10px 30px;
    margin: 20px 10px;
}
.time-btn button:hover{
    transform: scale(1.1);
    background: #6016FC;
    border-radius: 3px;
}
.time-circle{
    width: 46px;
    height: 46px;
    background: linear-gradient(180deg, #FF81A6 0%, #FC165B 100%);
    filter: blur(5px);
    transform: rotate(-34.72deg);
    border-radius: 50%;
    margin: 0 0 120px 080px
}
/*time-end*/

/*footer-start*/
#footer{
    padding: 50px 0;
}

.footer-circle{
    width: 55px;
    height: 55px;
    background: linear-gradient(180deg, #66FFA3 0%, #009C3E 100%);
    filter: blur(5px);
    transform: rotate(-34.72deg);
    border-radius: 50%;
    margin-bottom: 160px;
}
.foot-cir{
    display: flex;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer h1{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}
.foot-cir ion-icon{
    color: white;
    margin: 0 17px;
    font-size: 30px;
}
.foot-1 p{
    margin: 20px 0;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);

}
.footer h3{
    padding: 20px 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.6);
}
/*footer-end*/